### Application
RAILS_LOG_TO_STDOUT=true

# ====================
#   Docker Server
# ====================

# Docker Image
DOCKER_IMAGE=wanchic/wanchic-portfolio
DOCKER_IMAGE_VERSION=latest

# Docker - Web_App
DOCKER_WEB_APP_PORT=3034

## Docker - Master Key
RAILS_MASTER_KEY=[development.key]
