### Application
RAILS_LOG_TO_STDOUT=true

# ====================
#   Docker Server
# ====================

# Docker Compose
COMPOSE_PROFILES=web-build

# Docker Image
DOCKER_IMAGE=wanchic/wanchic-portfolio
DOCKER_IMAGE_VERSION=latest

# Docker Builder Arch
DOCKER_BUILDER=multi

# Docker Caching
DOCKER_CACHE_FROM=type=local,src=.docker-cache
DOCKER_CACHE_TO=type=local,dest=.docker-cache,mode=max,scope=multi

# Docker - Web_App
DOCKER_WEB_APP_PORT=3034

## Docker - Master Key
RAILS_MASTER_KEY=[development.key]
