.cta.social-icons
  = render partial: 'home/links/btn_primary',
   locals: { ref_link: "resume_eric_wanchic-2026-02-28.pdf",
    aria_label: "Download Resume PDF",
    site_icon: "pdf",
    site_label: "Download Resume PDF",
    updated_on: "2/28/2026" }
