.cta.social-icons
  = render partial: 'home/links/btn_primary',
   locals: { ref_link: "#static_portfolio", site_label: "Static HTML Portfolio" }

  = render partial: 'home/links/btn',
   locals: { ref_link: "https://eric.wanchic.com",
    aria_label: "GitHub",
    site_icon: "github",
    site_label: "eric.wanchic.com",
    site_service: "GitHub Pages" }
