.card#certifications
  %h2 Certifications
  .kicker
    .kicker-block
      %h3 LinkedIn Learning
      %span.pill
        -# haml-lint:disable LineLength
        %a{ href: "https://www.linkedin.com/learning/certificates/3260ffe227637b1eb0587d0dc46c688ad3cf3295c9d9e46d3e8f1a82fc0f1cee?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BpW5LOCSJTPaUg5nGUoOxMQ%3D%3D" }
          AWS Essential Training for Developers

      %span.pill
        -# haml-lint:disable LineLength
        %a{ href: "https://www.linkedin.com/learning/certificates/dbe955f1455c663a359a417e2262bdd80b388c0eb55e6a4fa228c9dd0c255a5d?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BpW5LOCSJTPaUg5nGUoOxMQ%3D%3D" }
          CSSLP Cert Prep: 4 Secure Software Implementation

      %span.pill
        -# haml-lint:disable LineLength
        %a{ href: "https://www.linkedin.com/learning/certificates/79b04bf07c2440622d70d8b4157949998db9f18670d37f9814f5a00f8cfd4cbc?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BpW5LOCSJTPaUg5nGUoOxMQ%3D%3D" }
          Learning the OWASP Top 10
  .kicker
    .kicker-block
      %h3 Ruby on Rails
      %span.pill
        %a{ href: "https://pragmaticstudio.com/alumni/wanchic" } Ruby on Rails II: Advanced Real-world Techniques
      %span.pill
        %a{ href: "https://pragmaticstudio.com/alumni/wanchic" } Ruby on Rails
