.card#contact
  %h2 Contact
  %div
    %strong Phone:
    %a{ href: "tel:+17013902381" } (701) 390-2381
  %div
    %strong SMS:
    %a{ href: "sms:+17013902381" } Text Me
  %div
    %strong Email:
    %a{ href: "mailto:ewanchic@gmail.com" } ewanchic@gmail.com
  %div
    %strong LinkedIn:
    %a{ href: "https://www.linkedin.com/in/wanchic", rel: "noreferrer", target: "_blank" } linkedin.com/in/wanchic
  %div
    %strong GitHub:
    %a{ href: "https://github.com/wanchic", rel: "noreferrer", target: "_blank" } github.com/wanchic
  %div
    %strong StackOverflow:
    %a{ href: "https://stackoverflow.com/users/1257980/eric-wanchic",
    rel: "noreferrer", target: "_blank" } stackoverflow.com/users/1257980/eric-wanchic
  %div
    %strong Dev.to:
    %a{ href: "https://dev.to/wanchic", rel: "noreferrer", target: "_blank" } dev.to/wanchic
