.card#licenses
  %h2 Licenses
  .kicker
    .kicker-block
      %h3 ARRL - KB0NJG
      %span.pill
        %a{ href: "https://share.google/aimode/PatTA5bpJBajlxZcf" } Extra Class ('24-34)
      %span.pill
        %a{ href: "https://share.google/aimode/PatTA5bpJBajlxZcf" } General Class ('22-24)
      %span.pill
        %a{ href: "https://share.google/aimode/PatTA5bpJBajlxZcf" } Codeless Tech ('95-24)
  .kicker
    .kicker-block
      %h3 Motor Vehicle
      %span.pill Class D
      %span.pill Class M
