<div class="card" id="productivity">
  <h2>Productivity</h2>
  <div class="kicker-block">
    <h3>B2B Tools</h3>
    <span class="pill">
                <span class="strong_skill">Slack</span>
                <span class="time_experienced">4+ yrs</span>
              </span>
    <span class="pill">MS Teams</span>
    <span class="pill">
                <span class="strong_skill">Asana</span>
                <span class="time_experienced">4+ yrs</span>
              </span>
    <span class="pill">Jira</span>
    <span class="pill">
                <span class="strong_skill">Basecamp</span>
                <span class="time_experienced">6+ yrs</span>
              </span>
    <span class="pill">Monday</span>
    <span class="pill">
                <span class="strong_skill">Zoom</span>
                <span class="time_experienced">8+ yrs</span>
              </span>
    <span class="pill">
                <span class="strong_skill">Google Meet</span>
              </span>
    <span class="pill">
                <span class="strong_skill">Big Blue Button</span>
                <span class="time_experienced">2+ yrs</span>
              </span>
    <span class="pill">Snowflake</span>
  </div>
  <div class="kicker-block">
    <h3>OpenSource Online Apps</h3>
    <span class="pill">
                <span class="strong_skill">Wordpress</span>
              </span>
    <span class="pill">Request Tracker</span>
    <span class="pill">MediaWiki</span>
    <span class="pill">GitLab</span>
    <span class="pill">
                <span class="strong_skill">Big Blue Button</span>
                <span class="time_experienced">2+ yrs</span>
              </span>
  </div>
  <div class="kicker-block">
    <h3>Media Tools</h3>
    <span class="pill">
                <span class="strong_skill">GIMP</span>
                <span class="time_experienced">12+ yrs</span>
              </span>
    <span class="pill">
                <span class="strong_skill">Inkscape</span>
                <span class="time_experienced">9+ yrs</span>
              </span>
    <span class="pill">Kdenlive<span class="time_experienced">8 yrs</span>
              </span>
    <span class="pill">Photoshop</span>
    <span class="pill">Illustrator</span>
  </div>
  <div class="kicker-block">
    <h3>Office Tools</h3>
    <span class="pill">
                <span class="strong_skill">Office • Libre</span>
                <span class="time_experienced">24+ yrs</span>
              </span>
    <span class="pill">PDF Editors</span>
    <span class="pill">Prezi</span>
    <span class="pill">Figma</span>
  </div>
</div>
