<div class="card" id="skills">
  <h2>Skills</h2>
  <div class="kicker">
    <div class="kicker-block">
      <h3>Programming</h3>
      <span class="pill">
                <span class="strong_skill">Ruby</span>
                <span class="time_experienced">13 yrs</span>
              </span>
      <span class="pill">Rust</span>
      <span class="pill">Python</span>
      <span class="pill">PHP</span>
      <span class="pill">Visual Basic<span class="time_experienced">12 yrs</span></span>
      <span class="pill">Java</span>
      <span class="pill">C</span>
      <span class="pill">C++</span>
      <span class="pill">node.js</span>
    </div>
    <div class="kicker-block">
      <h3>Web Development</h3>
      <span class="pill">
                <span class="strong_skill">Rails</span>
                <span class="time_experienced">13 yrs</span>
              </span>
      <span class="pill">
                <span class="strong_skill">HTML</span>
                <span class="time_experienced">24 yrs</span>
              </span>
      <span class="pill">
                <span class="strong_skill">CSS 3 • SASS</span>
                <span class="time_experienced">15 yrs</span>
              </span>
      <span class="pill">React</span>
      <span class="pill">JQuery</span>
      <span class="pill">Coffeescript</span>
      <span class="pill">Foundation</span>
      <span class="pill">Bootstrap</span>
      <span class="pill">StimulusJS</span>
    </div>
    <div class="kicker-block">
      <h3>Database</h3>
      <span class="pill">
                <span class="strong_skill">PostgreSQL</span>
                <span class="time_experienced">17 yrs</span>
              </span>
      <span class="pill">
                <span class="strong_skill">MongoDB</span>
                <span class="time_experienced">2+ yrs</span>
              </span>
      <span class="pill">
                <span class="strong_skill">REDIS</span>
              </span>
      <span class="pill">
                <span class="strong_skill">MySQL</span>
                <span class="time_experienced">10 yrs</span>
              </span>
      <span class="pill">MS SQL Server<span class="time_experienced">7 yrs</span></span>
      <span class="pill">MS Access<span class="time_experienced">16 yrs</span></span>
      <span class="pill">SQLite</span>
    </div>
    <div class="kicker-block">
      <h3>AI Tools</h3>
      <span class="pill">ChatGPT 5.x</span>
      <span class="pill">Github - Copilot</span>
      <span class="pill">Octave (ML)</span>
      <span class="pill">perChance</span>
    </div>
    <div class="kicker-block">
      <h3>Testing • Lint • Coverage</h3>
      <span class="pill"><span class="strong_skill">Github Actions</span></span>
      <span class="pill"><span class="strong_skill">rspec</span></span>
      <span class="pill"><span class="strong_skill">rubocop</span></span>
      <span class="pill"><span class="strong_skill">simplecov</span></span>
      <span class="pill"><span class="strong_skill">pry</span></span>
      <span class="pill"><span class="strong_skill">eslint</span></span>
      <span class="pill"><span class="strong_skill">scss-lint</span></span>
      <span class="pill"><span class="strong_skill">yaml-lint</span></span>
      <span class="pill"><span class="strong_skill">mdl-lint</span></span>
      <span class="pill">capybara</span>
      <span class="pill">selenium</span>
    </div>
    <div class="kicker-block">
      <h3>OS/Cloud</h3>
      <span class="pill">
                Linux • <span class="strong_skill">Ubuntu</span> • Red Hat
                <span class="time_experienced">18+ yrs</span>
              </span>
      <span class="pill">MS Windows <span class="time_experienced">26 yrs</span></span>
      <span class="pill">Macintosh • Apple <span class="time_experienced">~8 yrs</span></span>
      <span class="pill">
                <span class="strong_skill">AWS</span>
                <span class="time_experienced">8+ yrs</span>
              </span>
      <span class="pill">
                <span class="strong_skill">Heroku • Heroku Shield</span>
                <span class="time_experienced">8+ yrs</span>
              </span>
      <span class="pill">Rackspace</span>
      <span class="pill">Google Cloud</span>
    </div>
    <div class="kicker-block">
      <h3>Virtualization</h3>
      <span class="pill">
                <span class="strong_skill">KVM</span>
                <span class="time_experienced">15+ yrs</span>
              </span>
      <span class="pill">VMWare</span>
      <span class="pill">VirtualBox<span class="time_experienced">15+ yrs</span></span>
      <span class="pill">
                <span class="strong_skill">Docker</span>
                <span class="time_experienced">8+ yrs</span>
              </span>
      <span class="pill">Kubernetes</span>
    </div>
    <div class="kicker-block">
      <h3>DevOps Tools</h3>
      <span class="pill">Terraform</span>
      <span class="pill">Chef<span class="time_experienced">6 yrs</span></span>
      <span class="pill">
                <span class="strong_skill">git</span>
                <span class="time_experienced">11 yrs</span>
              </span>
      <span class="pill">Capistrano<span class="time_experienced">8 yrs</span></span>
      <span class="pill">CD/CI</span>
      <span class="pill">Unicorn<span class="time_experienced">5 yrs</span></span>
    </div>
    <div class="kicker-block">
      <h3>Network</h3>
      <span class="pill">
                <span class="strong_skill">CloudFlare</span>
                <span class="time_experienced">4+ yrs</span>
              </span>
      <span class="pill"><span class="strong_skill">WAF</span></span>
      <span class="pill"><span class="strong_skill">DNS</span></span>
      <span class="pill"><span class="strong_skill">GoDaddy</span></span>
      <span class="pill"><span class="strong_skill">TLS/SSL</span></span>
      <span class="pill"><span class="strong_skill">certbot</span></span>
      <span class="pill"><span class="strong_skill">DHCP</span></span>
      <span class="pill"><span class="strong_skill">iptables • Firewall</span></span>
    </div>
    <div class="kicker-block">
      <h3>Platform</h3>
      <span class="pill">
                <span class="strong_skill">NextCloud</span> •
                <span class="strong_skill">ownCloud</span> •
                Alfresco
              </span>
      <span class="pill"><span class="strong_skill">NGINX</span> • Apache2</span>
      <span class="pill">Zimbra • Exchange</span>
    </div>
    <div class="kicker-block">
      <h3>Logs • Metrics</h3>
      <span class="pill">Grafana</span>
      <span class="pill">Promethieus</span>
      <span class="pill">BetterStack</span>
      <span class="pill">Skylight</span>
      <span class="pill">Honeybadger</span>
    </div>
    <div class="kicker-block">
      <h3>Remote</h3>
      <span class="pill"><span class="strong_skill">ssh</span></span>
      <span class="pill">
                <span class="strong_skill">X2go</span> •
                <span class="strong_skill">NX</span>
              </span>
      <span class="pill"><span class="strong_skill">RDP</span></span>
      <span class="pill">Go2Meeting • WebEx</span>
      <span class="pill">Citrix</span>
    </div>
  </div>
</div>
