:root {
  --bg: #0b1020;
  --panel: #0f1733;
  --card: #121c3d;
  --text: #e8ecff;
  --muted: #a9b3da;
  --accent: #74c0fc;
  --accent2: #b197fc;
  --accent3: #91ceff;
  --border: rgb(255 255 255 / 10%);
  --border-cloudflare: rgb(74 33 17);
  --shadow: 0 10px 30px rgb(0 0 0 / 35%);
  --shadow2: 2px 2px 5px rgb(11 62 221 / 90%);
  --radius: 18px;
  --max: 1200px;
}
