.kicker
  %span.pill AWS • VPC • IAM • EC2 • ECS • RDS • S3
  %span.pill Linux • Networking • DNS • Cloudflare
  %span.pill Docker • Nginx • TLS/SSL
  %span.pill CI/CD • GitHub Actions
  %span.pill Ruby • Rails • React • JS
  %span.pill PostgreSQL • MongoDB • REDIS • MySQL
  %span.pill Monitoring • Logging
