/ Structured data (helps search + rich results a bit)

%script{ type: "application/ld+json" }
  :cdata
    {
    "@context":"https://schema.org",
    "@type":"Person",
    "name":"Eric Wanchic",
    "jobTitle":"Staff / Principal • Full-Stack Engineer • DevOps Engineer",
    "url":"https://eric.wanchic.com",
    "sameAs":[
    "https://www.linkedin.com/in/wanchic",
    "https://github.com/wanchic",
    "https://stackoverflow.com/users/1257980/eric-wanchic",
    "https://dev.to/wanchic"
    ]
    }
